﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-2">
        <p><a id="signal" class="btn btn-primary ladda-button btn-block" data-style="zoom-out"><span class="ladda-label">Signal</span></a></p>
        <p><a id="clearlog" class="btn btn-primary btn-block">Clear log</a></p>
        <p><a id="refresh" class="btn btn-default btn-block">Refresh</a></p>
    </div>
    <div class="col-md-8">
        <p id="result">@ViewBag.Message</p>
        <div id="log">
            @foreach (var s in ViewBag.Log) {
                @s<br/>
            }
        </div>
    </div>
</div>

@section scripts {

    <script>
        $(function () {

            var setData=function (data) {
                $("#log").html(data.map(function (x) { return x + "<br/>"; }));
            };

            $("#signal").click(function (e) {
                e.preventDefault();
                var l = Ladda.create(this);
                l.start();
                $.post("@Url.Action("Signal")", { jobType: 7 },
                    function(data) {
                        setData(data.logs);
                        var f = JsonHuman.format(data.result);
                        $("#result").html(f);
                    })
                    .always(function () { l.stop(); });
                return false;
            });
            $("#refresh").click(function () {

                $.post("@Url.Action("GetLog")", null, setData);

            });
            $("#clearlog").click(function () {

                $.post("@Url.Action("ClearLog")", null, setData);

            });
        });
    </script>
}